<p style = "text-align:center"><b>004_Python_for_Loop</b><br>March 9, 2023</p>

<b> 1. Loop in Python

<b> 2 Python for Loop<br></b>
we use it when we want to repeat a code block for a fixed number of times.

<b> 2.1 What is for loop ?<br></b>
it is used to iterate over a sequence([string],[list],[dictionary],[set], or [tuple])

<b> 2.2 Why we use for Loop<br></b>
- Definte iteration
- Reduces the code's complexity
- Loop through sequences

<b> 2.2.1 Syntax:<br></b>
for element in sequence:<br>
    - body of for loop

In [1]:
words = ['one','two','three','four','five']
for i in words:
  print(i)

one
two
three
four
five

In [2]:
numbers = [10,20,30,40,50]
sum = 0
for i in numbers:
  sum = sum+i
list_size = len(numbers)
average = sum/list_size
print(average)

30.0

<b>2.3 For loops with range() function

In [3]:
# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start,stop)
print(list(range(1,10)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(2,12,2):
  print(i)

2
4
6
8
10

In [7]:
num = 2
for a in range(1,6):
  print(num*a)

2
4
6
8
10

In [8]:
sum = 0
for n in range(1,11):
  sum += n
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
print("Case 1:")
for i in range(5):
  print(i)
  
print("Case 2:")
for i in range(5,10):
  print(i)

print("Case 3:")
for i in range(5,10,2):
  print(i)

Case 1:
0
1
2
3
4
Case 2:
5
6
7
8
9
Case 3:
5
7
9

<b>2.4 For loop with if-else

In [1]:
for i in range(1,11):
  if i%2==0:
    print("Even number : ",i)
  else:
    print("Odd number : ",i)

Odd number :  1
Even number :  2
Odd number :  3
Even number :  4
Odd number :  5
Even number :  6
Odd number :  7
Even number :  8
Odd number :  9
Even number :  10

<b>2.5 For loop with else

In [2]:
digits = [0,1,5]
for i in digits:
  print(i)
else:
  print("No item left")

0
1
5
No item left

In [3]:
for number in range(11):
  print(number)
else:
  print("The loop stop at",number)

0
1
2
3
4
5
6
7
8
9
10
The loop stop at 10

In [4]:
for i in range(1,6):
  print(i)
else:
  print("Done")

1
2
3
4
5
Done

In [5]:
student_name = 'Arthur'
marks = {'Alan':99,'Bill':55,'Cory':77}

for student in marks:
  if student == student_name:
    print(marks[student])
    break
else:
  print('No entry with that name found')

No entry with that name found

In [6]:
count = 0
for i in range(1,6):
  count+=1
  if count>2:
    break
  else:
    print(i)
else:
  print("Done")

1
2

<b>2.6 Using Control Statement in for loops in python

<b><font size = 3>2.6.1 a) break in for loop

In [7]:
numbers = (0,1,2,3,4,5)
for numbers in numbers:
  print(numbers)
  if number == 3:
    break

0
1
2
3
4
5

In [8]:
color = ['Green','Pink','Blue']
for i in color:
  if(i=='Pink'):
    break
print(i)

Pink

In [9]:
numbers = [1,4,7,8,15,20,35,45,55]
for i in numbers:
  if i>15:
    break
  else:
    print(i)

1
4
7
8
15

In [10]:
for i in range(5):
  for j in range(5):
    if j==i:
      break
    print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

<font size = 3><b>2.6.2 b) continue in for loop

In [11]:
color = ['Green','Pink','Blue']
for i in color:
  if(i=='Pink'):
    continue
print(i)

Blue

In [12]:
numbers = (0,1,2,3,4,5)
for number in numbers:
  print(number)
  if number == 3:
    continue
  if number != 5:
    print("Next number should be ",number+1) 
  else:
    print("Loop's end")
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
Loop's end
outside the loop

In [13]:
first = [3,6,9]
second = [3,6,9]
for i in first:
  for j in second:
    if i==j:
      continue
    print(i,'*',j,'=',i*j)

3 * 6 = 18
3 * 9 = 27
6 * 3 = 18
6 * 9 = 54
9 * 3 = 27
9 * 6 = 54

In [14]:
name = "mariya mennen"
count = 0
for char in name:
  if char != 'm':
    continue
  else:
    count += 1
print('Total number of m is:',count)

Total number of m is: 2

<font size = 3><b>2.6.3 c) pass in for loop

In [15]:
for number in range(6):
  pass

In [16]:
num = [1,4,5.3,7,8]
for i in num:
  pass

<b>2.7 Reverse for loop

<font size = 3><b>2.7.1 Backward Iteration using the reversed() function

In [17]:
list1 = [10,20,30,40]
for num in reversed(list1):
  print(num)

40
30
20
10

<font size = 3><b>2.7.2 Reverse for loop using range()

In [18]:
print("Reverse numbers using for loop")
num = 5
for num in (range(num,-1,-1)):
  print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [19]:
print("reversed : \t",end="")
for ch in reversed("abc"):
  print(ch,end=";")
  
print("\nenuemerated:\t",end="")
for i ,ch in enumerate("abc"):
  print(i,"=",ch,end=";")
  
print("'\nzip'ed:")
for a,x in zip("abc","xyz"):
  print(a,":",x)

reversed : 	c;b;a;
enuemerated:	0 = a;1 = b;2 = c;'
zip'ed:
a : x
b : y
c : z

<b>2.8 Nested for loops<br>
<font size = 3>2.8.1 for loop inside for loop</font>

In [21]:
# printing a multiplication table of the first ten numbers 
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [22]:
person = {'first_name':'Milan',
          'last_name':'Parmar',
          'age':96,
          'country':'Finland',
          'is_married':True,
          'skills':['Python','Matlab','R','C','C++'],
          'address':{'street':'space street','zipcode':'02210'
          }
        }
for key in person:
  if key=='skills':
    for skill in person['skills']:
      print(skill)

Python
Matlab
R
C
C++

In [29]:
# Write a code to add all the prime numbers between 17 to 53 using while loop.
sum = 0
for i in range(17,54):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    sum+=i
    print(i)
print(sum)

17
19
23
29
31
37
41
43
47
53
340

In [30]:
# Iterating through nested for loops
color = ['Red','Pink']
element = ['floor','watch']
for i in color:
  for j in element:
    print(i,j)

Red floor
Red watch
Pink floor
Pink watch

In [32]:
# A use case of a nested for loop in 'list_of_lists' case would be
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
total = 0
for list1 in list_of_lists:
  for i in list1:
    total += i
print(total)

45

In [36]:
numbers = [[1,2,3],[4,5,6]]
cnt = 0
for i in numbers:
  for j in i:
    print('Iteration',cnt,end=': ')
    print(j)
    cnt += 1

Iteration 0: 1
Iteration 1: 2
Iteration 2: 3
Iteration 3: 4
Iteration 4: 5
Iteration 5: 6

<b>Example: Nested for loop to print pattern

In [42]:
rows = 5
for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print('')

*
* *
* * *
* * * *
* * * * *

In [43]:
# Print Floyd triangle with user input
ran = input("How many rows ?")
rang = int(ran)
k=1
for i in range(1,rang+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print('')

*
* *
* * *
* * * *
* * * * *

In [44]:
# 1st method
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [46]:
# 2nd method
rows = 6
for num in range(rows):
  for i in range(num):
    print(num,end=' ')
  print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [47]:
# 3rd method
n = 5 # giving number of row i want
x = 0
for i in range(0,n):
  x+=1
  for j in range(0,i+1):
    print(x,end=' ')
  print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [50]:
# 4th method
rows = 5
for row in range(1,rows+1):
  for column in range(1,row+1):
    print(column,end=' ')
  print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [51]:
# 5th method
for i in range(1,6):
  for j in range(i):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [53]:
# 6th method
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print(' ')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [54]:
for i in range(0,5):
  for j in range(i+1,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [55]:
for i in range(1,6):
  for j in range(5,i-1,-1):
    print('*',end=' ')
  print('')

* * * * *
* * * *
* * *
* *
*

In [56]:
# Example 7: 1st method
rows = 5
for i in range(rows,0,-1):
  num = i
  for j in range(0,i):
    print(num,end=' ')
  print(' ')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [63]:
# 2nd method
for i in range(5,0,-1):
  for j in range(0,i):
    print(i,end=' ')
  print(' ')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [62]:
# Example 8: 1st method
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [64]:
# 2nd method
for i in range(1,6):
  for j in range(6-i):
    print(j+1,end=' ')
  print(' ')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

<b>2.8.2. while inside for loop

In [66]:
for i in range(1,6):
  print('Multiplication table of:',i)
  count = 1
  while count<11:
    print(i*count,end=' ')
    count = count+1
  print('\n')

Multiplication table of: 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of: 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of: 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of: 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of: 5
5 10 15 20 25 30 35 40 45 50

In [71]:
names = ['Army','Bella','Cathy']
for name in names:
  count = 0
  while count<5:
    print(name,end=' ')
    count += 1
  print()

Army Army Army Army Army
Bella Bella Bella Bella Bella
Cathy Cathy Cathy Cathy Cathy

<b>2.9 Fir kiio ub ibe kine<br>
<b>2.9 for loop in one line

In [73]:
# regular for loop code
first = [3,6,9]
second = [30,60,90]
final = []

for i in first:
  for j in second:
    final.append(i+j)
print(final)

[33, 63, 93, 36, 66, 96, 39, 69, 99]

In [80]:
# print the even number by adding 1 to odd numbers in the list
odd = [1,5,7,9]
even = [i+1 for i in odd if i%2 == 1]
print(even)

[2, 6, 8, 10]

In [81]:
final = [[x,y] for x in [30,60,90] for y in [60,30,90] if x!= y]
print(final)

[[30, 60], [30, 90], [60, 30], [60, 90], [90, 60], [90, 30]]

<b>2.10 Accessing the index in for loop.<br>

In [1]:
numbers [4,2,5,7,8]
for i,v in enumerate(numbers):
  print('Number[',i,'] = ',v)

NameError: name 'numbers' is not defined