In [1]:
a = {5,4}
b = {1,2,4,5}
print(a<b)

True

In [2]:
print("PhnomPenh">"Cambodia","Pursat"<"pursat")

True True

In [3]:
from turtle import *
def line100(lineColor, width, painty):
    painty.color(linecolor)
    painty.width(width)
    painty.forward(100)
    exitonclick()
t = Turtle()
line100('blue',5,t)

NameError: name 'linecolor' is not defined

In [ ]:
z = set('abc')
z.add('comp')
z.update(set(['p','q']))
print(z)

{'p', 'q', 'a', 'c', 'comp', 'b'}

In [ ]:
a = [42,39,123]
b = sorted(a,reverse=True)
a[0] = b
b[0] = 7
b.sort()
print(a)

[[7, 39, 42], 39, 123]

In [ ]:
str = "i love cambodia!"
print(str.capitalize())

I love cambodia!

In [ ]:
a = [1,2]
b = []
b.append(a)
b.append(a)
a.append(3)
print(b)

[[1, 2, 3], [1, 2, 3]]

In [ ]:
result = {}
for i in range(5):
    for j in range(10):
        result[i]=j
result

{0: 9, 1: 9, 2: 9, 3: 9, 4: 9}

In [ ]:
a = {5,6,7}
a.add(5)
a

{5, 6, 7}

In [ ]:
result = {x+y: (x,y) for x in range(1,3) for y in range(10,30,10)}
result

{11: (1, 10), 21: (1, 20), 12: (2, 10), 22: (2, 20)}

In [ ]:
a = [5,5,6,7,7,7]
b = set(a)
def test(lst):
    if lst in b:
        return 1
    else:
        return 0
for i in filter(test,a):
    print(i,end="")

556777

In [ ]:
thing = 1
index = 0
while index<2:
    thing += thing
    index+=1
print(thing)

4

In [ ]:
result = [2*x+1 for x in range(1,8)]
result

[3, 5, 7, 9, 11, 13, 15]

In [ ]:
str1 = 'Welcome'
print(str1[:6]+' CAmbodia')

Welcom CAmbodia

In [ ]:
a = {5,6,7,8}
b = {7,8,9,10}
print(len(a+b))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
a = {1,2,3}
b = a
b.remove(3)
print(a)

{1, 2}

In [ ]:
def paramTest(a,b):
    c = a+ ' ' + b
    return c
p0 = 'Sovath'
p1 = 'Sereymon'
c = paramTest(p0,p1)
print(c)

Sovath Sereymon

In [ ]:
lst = [1,2020,30303]
myvar = lst[0]
lst[0] = 2021
print(lst,myvar)

[2021, 2020, 30303] 1

In [ ]:
result = {}
for x in range(1,5):
    result[x] = 0
    for y in range(1,21):
        if y % x ==0:
            result[x] += 1
result

{1: 20, 2: 10, 3: 6, 4: 5}

In [ ]:
for i in range(1,11,12):
    print(i*i)

1

In [ ]:
_a = 1
_a

1

In [ ]:
__a = 1
__a

1

In [ ]:
__str__=1
__str__

1

In [ ]:
result = {}
for s in "a man a plan a canal plan".split():
    if s not in result:
        result[s] = 0
    result[s] += len(s)
result

{'a': 3, 'man': 3, 'plan': 8, 'canal': 5}

In [ ]:
a = "Cambodia"
b = ['Thailand', 'Cambodia', 'Vietnam']
print(b[1]==a, b[1] is a)

True True

In [ ]:
b = (5,6,7,4)
b[1:-1]

(6, 7)

In [ ]:
a = {4,5,6}
b = {2,8,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
def paramTest(a,b):
    print(a, 'is a str ,' ,b, 'is an int')
paramTest(1,'none')

1 is a str , none is an int

In [ ]:
a = 'CAmbodia'
a[0:-1]

'CAmbodi'

In [ ]:
a[:-1]

'CAmbodi'

In [ ]:
total = 0
def sum1(n):
    total = 0
    for in in range(n):
        total += i
    return total
def sum2(n):
    total = 0
    for i in range(n):
        total += i
print(total, sum1(5), total, sum2(5), total)

SyntaxError: invalid syntax (67022689.py, line 4)

In [ ]:
a = {1,2,3}
{x*2 for x in a|{4,5}}

{2, 4, 6, 8, 10}